export SKOGAI=/home/skogix/skogai
export SKOGAI_GOOSE=/home/skogix/skogai/goose
export SKOGAI_CONFIG_DIR=/home/skogix/skogai/config
export SKOGAI_SCRIPTS_DIR=/home/skogix/skogai/scripts
export SKOGAI_SCRIPTS_GLOBAL_DIR=/home/skogix/skogai/scripts/global
export SKOGAI_TEMPLATES_DIR=/home/skogix/skogai/templates
export SKOGAI_SCRIPT_METADATA_DIR=/home/skogix/skogai/config
